
.openinginfo
{
    background-color: #1F4161;
    color: snow;
    
}

.openinfo
{
    text-align: center;
    padding-top: 1em;
}

.open
{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.textWithopen
{   
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}



.after_middle
{
    background-image: url("/images/pedro-araujo-PDjYClxmnyk-unsplash.jpg");
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 30px;
}

.hameenlinna
{
    background-color: rgba(196, 196, 196, 0.7);
    margin: 70px 30px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hmltext
{
    margin-left: 2em;
    margin-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 80vh;
}

.img_hml
{
    object-fit: cover;
    width: 20em;
    max-width: 200px;
    max-height: 200px;
    padding-left: 2rem;
    padding-top: 2em;
    padding-bottom: 2em;
}

.tre {
    background-color: rgba(196, 196, 196, 0.7);
    margin: 70px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tretext
{
    margin-left: 2em;
    margin-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 80vh;
}

.img_tre
{
    object-fit: cover;
    width: 20em;
    max-width: 200px;
    max-height: 200px;
    padding-left: 2rem;
    padding-top: 2em;
    padding-bottom: 2em;
}

.hamk
{
    background-color: rgba(196, 196, 196, 0.7);
    margin: 70px 30px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    flex-wrap: wrap;
}

.hamktext
{
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 2em;
    padding-bottom: 1em;
    max-width: 80vh;
}

.openimg
{
    object-fit: cover;
    width: 29vw;
    max-width: 200px;
    max-height: 200px;
    padding-right: 2rem;
    padding-bottom: 2em;
}

.img_hamk
{
    object-fit: cover;
    width: 20em;
    max-width: 200px;
    max-height: 200px;
    padding-right: 2rem;
    padding-top: 2em;
    padding-bottom: 2em;
}