@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

body
{
    margin-right: auto;
    margin-left: auto;
    font-family: 'Spartan', sans-serif;
}

img
{
    user-select: none;
    -webkit-user-drag: none;
}

.middle_part
{
    background: url("/images/Background_middle_part.jpg");
    font-family: 'Spartan', sans-serif;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardio
{
    background-color: rgba(196, 196, 196, 0.7);
    margin: 70px 30px 40px 30px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.img_cardio
{
    object-fit: cover;
    width: 45vw;
    max-width: 700px;
    max-height: 300px;
    margin: 4em 2em 4em 2em;
    border-radius: 300px;
}

.stretching
{
    background-color: rgba(196, 196, 196, 0.7);
    margin: 70px 30px 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img_Stretch
{
    object-fit: cover;
    width: 45vw;
    max-width: 700px;
    max-height: 300px;
    margin: 4em 2em 4em 2em;
    border-radius: 300px;
}

.weights
{
    background-color: rgba(196, 196, 196, 0.7);
    margin: 70px 30px 40px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img_weight
{
    object-fit: cover;
    width: 45vw;
    max-width: 700px;
    max-height: 300px;
    margin: 4em 2em 4em 2em;
    border-radius: 300px;
}

.text1
{
    margin-top: 100px;
    text-align: center;
    
    font-size: 64px;
    justify-content: center;
    color: snow;
}

.text2
{
    text-align: center;
    color: snow;
}

.cardioText
{
    margin: 70px 20px 20px 20px;
    max-width: 60vh;
}
.weightText
{
    margin: 70px 20px 20px 20px;
    max-width: 60vh;
}


.stretchText
{
    margin: 70px 20px 20px 20px;
    max-width: 60vh;
}

.advertisement
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advertisement2
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
}

.smallImage1
{
    margin-top: 15em;
    object-fit: cover;
    width: 29vw;
    height: 29vw;
    border-radius: 200px;
    max-width: 200px;
    max-height: 200px;
}

.smallImage2
{
    margin-top: 15em;
    object-fit: cover;
    width: 29vw;
    height: 29vw;
    border-radius: 200px;
    max-width: 200px;
    max-height: 200px;
}

.smallImage3
{
    object-fit: cover;
    object-fit: cover;
    width: 29vw;
    height: 29vw;
    border-radius: 200px;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contactInfo
{
    background-color: #1F4161;
    color: snow;
}

.icon1
{
    display: flex;
    flex-direction: row;
    object-fit: cover;
    height: 10em;
    width: 8em;
    max-width: 200px;
    max-height: 200px;
}
.icon2
{
    display: flex;
    flex-direction: row;
    object-fit: cover;
    height: 10em;
    width: 10em;
    max-width: 200px;
    max-height: 200px;
}

.textInfo
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.info
{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.instagramImg
{
    width: 3em;
    height: 3em;
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
}
.instagram
{
    display: flex;
    padding-bottom: 1em;
}

.facebookImg
{
    width: 3em;
    height: 3em;
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
}
.facebook
{
    display: flex;
}

a
{
    color: snow;
    text-decoration: none;
}
a:hover
{
    color: snow;
}